$def with(data,pesan)
<div class='profile'>
<h3>Data Profil : </h3>
<div>User : $data['username']</div>
<div style='float:right'>
$if data['foto']:
	$ src = "/image/f/"+data['foto']+"_thumb"
$else:
	$ src = "/static/images/broken.png"
<img  src="$src"/>
</div>
<div>Nama : $data['nama']</div>
<div>Admin : $data['admin']</div>
</div>

<div class='update_password'>
	<h3>Ganti Password</h3>
	<div class='pesan'>$:pesan</div>
	<form method='post'>
	<div>Password : </div>
	<div><input type='password' name='password' /></div>
	<div>Ulangi Password : </div>
	<div><input type='password' name='ulangi_password' /></div>
	<div><input type='submit' name='update_password' value='Kirim'/></div>
	</form>
	<br/>
	<br/>
</div>