.edit_password{
	border-top:solid 1px;
	padding:15px;
}
.edit_menu{

	border-top:solid 1px;
	padding:15px;
}
.edit_menu .box_menu{
	border: solid 1px grey;
	display:inline-block;
	font-size:14px;
	font-weight: bolder;
	float:left;
	margin: 10px;
}
.edit_menu .menu{
	background:yellow;
	padding: 5px;
}
.edit_menu .sub_menu{
	font-weight: normal;
	margin:5px;
}